<nav class="animate__animated animate__fadeInUp">
    <div class="icon-container">
        <div class="nav-icon icon-1">
            <a href="#"><img src="/images/home.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="#"><img src="/images/project.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="#"><img src="/images/writings.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="#"><img src="/images/gallery.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="#"><img src="/images/word.svg" alt=""></a>
        </div>
        <div class="nav-icon" id="mode">
            <a href="#"><img src="/images/light-mode.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="https://github.com/NabilWasir"><img src="/images/github.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="https://www.instagram.com/nabil_wasir/"><img src="/images/instagram.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="https://www.facebook.com/nabilwasir/"><img src="/images/facebook.svg" alt=""></a>
        </div>
        <div class="nav-icon">
            <a href="https://twitter.com/nab1l_w4sir"><img src="/images/twitter.svg" alt=""></a>
        </div>
        <div class="nav-icon icon-last">
            <a href="#"><img src="/images/email.svg" alt=""></a>
        </div>
    </div>
</nav>