<div class="project">
    <h1 class="project-headline" data-aos="fade-down"
    data-aos-duration="3000">Projects</h1>
    <h2 class="project-description" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" data-aos-duration="1500">Things made with HTML & CSS</h2>
    <hr class="project-line" data-aos="fade-right" data-aos-offset="300" 
    data-aos-easing="ease-in-sine" data-aos-duration="1500">
    <div class="completed-projects moshify" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://moshifyservice.netlify.app/">Moshify</a>
        <hr>
        <p class="project-year">2021</p>
    </div>
    <div class="completed-projects order-summary" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://ordersummary-component-master.netlify.app/">Order Summary</a>
        <hr>
        <p class="project-year">2022</p>
    </div>
    <div class="completed-projects single-pricegrid" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://single-pricegridcomponent.netlify.app/">Single Price Grid</a>
        <hr>
        <p class="project-year">2022</p>
    </div>
    <div class="completed-projects profilecard-component" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://profilecard-component-main.netlify.app/">Profile Card</a>
        <hr>
        <p class="project-year">2022</p>
    </div>
    <div class="completed-projects qrcode-component" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://qrcoded-component.netlify.app/">QR Code </a>
        <hr>
        <p class="project-year">2022</p>
    </div>
    <div class="completed-projects three-colum-card" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://3-colum-preview-card-component.netlify.app/">3 Colum Card</a>
        <hr>
        <p class="project-year">2022</p>
    </div>
    <div class="completed-projects stat-preview" data-aos="fade-up"
    data-aos-duration="3000">
        <a class="project-name" href="https://stat-preview-frontend-mentor.netlify.app/">Stat Preview Card</a>
        <hr>
        <p class="project-year">2022</p>
    </div>
</div>