<div class="word">
    <div>
        <h1 data-aos="fade-down-right">Red</h1>
        <h1 data-aos="fade-down-left">Anti-Hero</h1>
        <h1 data-aos="fade-down-right">Fearless</h1>
        <h1 data-aos="fade-down-left">Vivid</h1>
        <h1 data-aos="fade-down-right">Delightful</h1>
        <h1 data-aos="fade-down-left">Boring</h1>
        <h1 data-aos="fade-down-right">Colorful</h1>
        <h1 data-aos="fade-down-left">Creative</h1>
        <h1 data-aos="fade-down-right">Fade</h1>
        <h1 data-aos="fade-down-left">Sarcasm</h1>
    </div>
</div>