<div class="writings">
    <h1 class="writings-headline" data-aos="fade-down" data-aos-duration="2500">Writings</h1>
    <h2 class="writing-sub-headline" data-aos="fade-down" data-aos-duration="2500">A collection of my somewhat (un)organized musings.</h2>
    <hr class="writing-line" data-aos="fade-right" data-aos-duration="2500">
    <div class="write-down" data-aos="fade-up" data-aos-duration="3000">
        <h3>Programming is the art of algorithm design and the craft of debugging errant code.</h3>
        <p>― Ellen Ullman</p>
    </div>
    <div class="write-down" data-aos="fade-up" data-aos-duration="3000">
        <h3>Confusion is part of programming.</h3>
        <p>― Felienne Hermans</p>
    </div>
    <div class="write-down" data-aos="fade-up" data-aos-duration="3000">
        <h3>Experience is the name everyone gives to their mistakes.</h3>
        <p>― Oscar Wilde</p>
    </div>
    <div class="write-down" data-aos="fade-up" data-aos-duration="3000">
        <h3>No matter which field of work you want to go in,
            it is of great importance to learn at least one programming language.</h3>
        <p>― Ram Ray</p>
    </div>
    <div class="write-down" data-aos="fade-up" data-aos-duration="3000">
        <h3>Most good programmers do programming not 
            because they expect to get paid or get adulation by the public,
            but because it is fun to program. </h3>
        <p>― Linus Torvalds</p>
    </div>
    <div class="write-down" data-aos="fade-up" data-aos-duration="3000">
        <h3>Programmer: A machine that turns coffee into code.</h3>
        <p>― Anonymous</p>
    </div>
</div>